// Progressive image
[pLazy=loading] {
	opacity: 0;
}

[pLazy=loaded] {
	opacity: 1;
	transition: all 1s;
}

// Sidebar
.side-bar-enter-active {
	animation: side-bar .5s;
}
.side-bar-leave-active {
	animation: side-bar .5s reverse;
}
@keyframes side-bar {
	0% {
		opacity: 0;
		transform: translate3d(-100%, 0, 0);
	}
	100% {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}

// Fade up
.fade-up-enter-active {
	animation: fade-up .25s;
}
.fade-up-leave-active {
	animation: fade-up .25s reverse;
}
@keyframes fade-up {
	0% {
		opacity: 0;
		transform: translateY(10px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

// Fade
.fade-enter-active {
	animation: fade .5s;
}
.fade-leave-active {
	animation: fade .5s reverse;
}
@keyframes fade {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

// Fade half
.fade-half-enter-active {
	animation: fade-half .5s;
}
.fade-half-leave-active {
	animation: fade-half .5s reverse;
}
@keyframes fade-half {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 0.5;
	}
}

// Fade up
.slide-sideways-enter-active {
	animation: slide-sideways .25s;
}
.slide-sideways-leave-active {
	animation: slide-sideways .25s reverse;
}
@keyframes slide-sideways {
	0% {
		opacity: 0;
		transform: translateX(10px);
	}
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}
